.ui.fluid.card(postID=val.id, postClass=val.class)
  .content.title
    h2 !{val.body}
      span(style="float: right; font-size: 0.8em; font-weight: normal;") 
  .content
    .ui.two.column.grid.stackable
      .six.wide.column.centered   
        video(src='/post_pictures/'+val.picture controls type='video/mp4')
        .content.buttons
          .ui.buttons.small
            .ui.left.labeled.button
              a.ui.basic.green.right.pointing.label !{val.likes}
              .ui.like.button(tabindex='0', data-tooltip="I like this", data-position="bottom center", data-variation="mini", class=val.like? "green": null)
                i.thumbs.up.icon
                | Upvote
            .ui.right.labeled.button
              .ui.unlike.button(tabindex='0', data-tooltip="I dislike this", data-position="bottom center", data-variation="mini", class=val.unlike? "red": null)
                i.thumbs.down.icon
                | Downvote
              a.ui.basic.red.left.pointing.label !{val.unlikes}
          .secondary-buttons
            .ui.flag.button.small(tabindex='0', data-tooltip="Report Video", data-position="top center", data-variation="mini", class=val.flag? "orange": null)
              i.flag.icon
              | Flag
            .ui.share.button.small(tabindex='0', data-tooltip="Share Video", data-position="top center", data-variation="mini")
              i.share.icon
              | Share
      .ten.wide.column.centered
        h3 Comments
        .ui.divider(style="margin:0px;")
        .ui.message
          //- i.close.icon
          .content
            i.icon.youtube.big(style="float:left; margin-right:10px;")
            | Timed Comments is on. Comments linked to a specific time in the video will appear when the video hits that timestamp.
        .ui.comments
        .ui.form
          .inline.field
            .image
              img.ui.image.rounded(src=user.profile.picture)
            textarea.replyToVideo(name='replyToVideo' type='text' placeholder='Add a Comment...' rows='1')
          .ui.submit.button.replyToVideo
              | Comment
          .ui.cancel.basic.blue.button.replyToVideo
              | Cancel